.card-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
}

.card {
    background-color: var(--color-light-gray);
    width: 285px;
    height: 446px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card.no1 {
    background-color: var(--color-light-gray);
    width: 285px;
    height: 446px;

}


.card.no2 {
    background-color: #C1FFD7;
}

.card.no3 {
    background-color: #C1D4FF;
}

.card.no4 {
    background-color: #FFC1E3;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 20px;
}

.pagination span {
    margin: 0 10px;
}

#prev-button, #next-button{
    background-color: var(--color-beige);
    border: none;
    border-radius: 25px;
    transition: 0.4s;
}

#prev-button:hover, #next-button:hover{
    background-color: var(--color-gold);
    color: var(--color-white);
}

@media (max-width: 1200px) {
    .card-content{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 904px) {
    .card-content{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 620px) {
    .card-content{
        grid-template-columns: repeat(1, 1fr);
    }

}