/* importando fontes */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variáveis */

:root{
    --font-title: "Montserrat", sans-serif;
    --font-text: "Poppins", sans-serif;
    --color-black: #000000;
    --color-light-black: #3A3A3A;
    --color-gray: #898989;
    --color-gold: #B99033;
    --color-light-gray: #F4F5F7;
    --color-light-red: #E97171;
    --color-light-green: #2EC1AC;
    --color-beige: #F9F1E7;
    --color-white: #ffffff;
}